@darkPrimaryColor:   #1976D2;
@primaryColor:       #033E4E;
@lightPrimaryColor:  #BBDEFB;
@textPrimaryColor:   #FFFFFF;
@accentColor:        #607D8B;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575;
@dividerColor:       #BDBDBD;
@articleLinkColor:   #B4E7F8;
@adColor:            #e2edff;
