.space .navbar {
  /*background-color: #CDDC39;*/
}

.space .navbar a {
  /*color: #DCEDC8;*/
}


.navbar-right {
  float: right;
}

img {
  display: block;
  width: 100%;
}

.teaser img {
  margin-bottom: 20px;
}

.container img {
  margin-bottom: 20px;
}

.row {
  margin-bottom: 20px;
}
.col-md-12 h2 {
  font-size: 44px;
}
.col-md-6 h2 {
  font-size: 32px;
}
.col-md-4 h2, .col-md-3 h2 {
  font-size: 22px;
}

.teaser p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.teaser {
  color: #333;
  text-decoration: none;
}

a.teaser:hover {
  color: #777;
  text-decoration: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

