.space .navbar {
  background-color: #fff;
  border-bottom: 1px solid #E5E5E5;
}

.navbar-right {
  float: right;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  top: 4px;
}

body.space > .container {
  padding-top: 70px;
  padding-bottom: 70px;
}

body {
  font-family: "Roboto", sans-serif, "Arial";
  color: rgb(55, 58, 60);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

.img-container {
  position: relative;
  padding-bottom: 50%; /* 2:1 ratio */
  height: 0;
  overflow: hidden;
}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.space a {
  color: rgb(55, 58, 60);
}

.space a:hover {
  color: rgb(55, 58, 60);
  text-decoration: none;
}

.top-articles-header {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #03A9F4;
  margin-bottom: 12px;
}

.top-articles {
  list-style: none;
  padding: 0;
}

.top-articles li {
   counter-increment: item;
   margin-bottom: 15px;
}

.top-articles li:before {
  margin-right: 6px;
  content: counter(item);
  background: #03A9F4;
  color: white;
  font-weight: bold;
  width: 1.6em;
  text-align: center;
  display: inline-block;
}

.top-articles a {
  color: rgb(55, 58, 60);
}

.top-articles a:hover {
  color: rgb(55, 58, 60);
  text-decoration: none;
}

.article .image {
  margin-bottom: 20px;
}

.article .image-container {
  margin-bottom: 6px;
}

.article .image-meta {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.article .image-meta .image-byline {
  font-size: 12px;
  text-transform: uppercase;
}

.article .lead {
  padding: 0 0 20px;
  margin: 0 0 20px;
  font-weight: 300;
  color: rgb(55, 58, 60);
  border-bottom: 1px solid #E5E5E5;
}

.article .lead .section-title {
  display: inline-block;
  border-left: 6px solid #0288D1;
  padding-left: 4px;
  margin-right: 4px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.article .tags {
  list-style-type: none;
  padding: 0 0 14px;
  margin: 0 0 20px;
  border-bottom: 1px solid #E5E5E5;
}

.article .tags li {
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  padding: 6px;
  background-color: #0288D1;
  color: #fff;
  margin: 0 12px 6px 0;
}

.article .byline {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

.article .byline span {
  font-weight: 700;
}

.article time {
  color: rgba(0, 0, 0, 0.4);
  display: block;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.navbar-brand {
  font-family: 'Rokkitt', serif;
  font-weight: 800;
  font-size: 2.4rem;
  padding: .45rem 0 0;
/*
  font-size: 2.0rem;
  padding: .25rem 0 0;
*/
  line-height: 2.0rem;
}

.ad-placeholder {
  background-color: #B3E5FC;
  height: 360px;
  color: rgba(255, 255, 255, .8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

.ad-placeholder > * {
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.teaser .image-container {
  margin-bottom: 12px;
}

.teaser time {
  color: rgba(0, 0, 0, 0.4);
  margin-right: 2px;
  text-transform: uppercase;
  font-size: 16px;
}

.teaser .lead {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.188rem;
}

.teaser .lead p {
  display: inline;
}

.row {
  margin-bottom: 20px;
}

.section-page .empty {
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  text-align: center;
  padding: 200px 0;
}

.section-page .main-col .row {
  padding-bottom: 1.5rem;
  margin-bottom: 1.9rem;
  border-bottom: 1px solid #d5d5d5;
}

.col-md-12 h2 {
  font-size: 44px;
}
.col-md-6 h2 {
  font-size: 32px;
}
.col-md-4 h2, .col-md-3 h2 {
  font-size: 22px;
}

.space .footer {
  height: 100px;
}

.copyright {
  color: rgba(0, 0, 0, 0.4);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

