<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body class="article-list">
<h4 class="top-articles-header">Latest News</h4>
<ol class="top-articles">
    <li th:each="article, stat : ${topArticles}" class="nav-item" th:unless="${stat.index >= 10}">
        <a th:text="${article.aspects.contentData.data.title}" th:href="${curl.create(article.id)}"
           href="#">Article link...</a>
        <time th:unless="${utils.isEmpty(article, 'aspects.contentData.data.published')}"
              th:datetime="${date.medium(article.aspects.contentData.data.published)}"
              th:utext="${date.full(article.aspects.contentData.data.published)}">Publish date...
        </time>
    </li>
</ol>
</body>
</html>