<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>

<footer class="footer">
    <div class="container">
        <span class="copyright" th:text="'&copy; ' + ${site.aspects.contentData.data.title}">Copyright notice</span>
    </div>

    <script>
    var updateAds = function() {
      var ad = $(".ad-placeholder");
      ad.find("div").text(ad.width() + " x " + ad.height());
    };
    $(window).on("resize", updateAds);
    $(document).ready(updateAds);
    </script>
</footer>

</body>
</html>
