<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>

<footer class="footer">

    <div class="breaking-news-alert alert fade in" role="alert">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <a class="breaking-news-alert-text" href="#">
            <h2></h2>
            <p class="lead"></p>
        </a>
    </div>

    <div class="container">
        <span class="copyright" th:text="'&copy; ' + ${site.aspects.contentData.data.title}">Copyright notice</span>
    </div>

    <script src="/webjars/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script>
    <script>
    var updateAds = function() {
      $(".ad-placeholder").each(function() {
        var ad = $(this);
        ad.find(".dimensions").text(ad.width() + "x" + ad.outerHeight());
      });
    };
    $(window).on("resize", updateAds);
    $(document).ready(updateAds);

    $('.carousel').carousel();

    function connect() {
        var socket = new SockJS('/websocket');
        var stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            stompClient.subscribe('/topic/breaking', function (article) {
                showAlert(JSON.parse(article.body));
            });
        });
    }
    function showAlert(article) {
        var alertElem = $(".breaking-news-alert");
        alertElem.find("h2").text(article.title);
        alertElem.find(".lead").text(article.lead);
        alertElem.find(".breaking-news-alert-text").attr("href", article.url);
        alertElem.show();
    }
    $(".breaking-news-alert .close").click(function() {
      $(this).closest(".alert").hide();
    });
    connect();
    </script>

    <script th:inline="javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84921489-1', 'auto');
  ga('send', 'pageview', [[${ga_tracker}]]});

    </script>
</footer>

</body>
</html>
