<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="_head :: head">
</head>

<body class="space">

<div class="pos-f-t" th:include="_header :: div.pos-f-t">
    Header content...
</div>

<div class="container">


    <div class="row">
        <div class="col-md-9 article">
            <div class="image" th:with="image=${contentApi.getContent(article.aspects.contentData.data.imageRef)}" th:unless="${utils.isEmpty(article, 'aspects.contentData.data.imageRef')}">
                <div class="image-container">
                    <img th:src="${iurl.create(image.id)}"/>
                </div>
                <div class="image-meta">
                    <span class="image-caption" th:unless="${utils.isEmpty(image, 'aspects.contentData.data.description')}" th:text="${image.aspects.contentData.data.description}"></span>
                    <span class="image-byline" th:unless="${utils.isEmpty(image, 'aspects.contentData.data.byline')}" th:text="${image.aspects.contentData.data.byline}"></span>
                </div>
            </div>

            <h1 th:text="${article.aspects.contentData.data.title}">Article headline...</h1>
            <div class="byline" th:unless="${utils.isEmpty(article, 'aspects.contentData.data.byline')}">
                By <a href="#" th:href="${lpage.create(site, 'by', article.aspects.contentData.data.byline)}" th:text="${article.aspects.contentData.data.byline}"></a>
            </div>
            <time th:unless="${utils.isEmpty(article, 'aspects.contentData.data.published')}" th:datetime="${date.iso8601(article.aspects.contentData.data.published)}" th:utext="${date.full(article.aspects.contentData.data.published)}">Publish date...</time>
            <div class="lead">
                <span class="section-title" th:text="${section.aspects.contentData.data.title}">Section title...</span>
                <span th:unless="${utils.isEmpty(article, 'aspects.contentData.data.lead')}" th:utext="${article.aspects.contentData.data.lead}">Article lead...</span>
            </div>
            <ul class="tags clearfix" th:unless="${utils.isEmpty(article, 'aspects.contentData.data.tags')}">
                <li th:each="tag : ${article.aspects.contentData.data.tags}">
                    <a href="#" th:href="${lpage.create(site, 'about', tag)}" th:text="${tag}">Tag...</a>
                </li>
            </ul>
            <div class="body" th:unless="${utils.isEmpty(article, 'aspects.contentData.data.body')}" th:utext="${utils.process(article.aspects.contentData.data.body)}">Article body...</div>
        </div>
        <div class="col-md-3 right-col">
            <div th:replace="_ad">AD...</div>
            <div th:replace="_article-list :: .article-list">Article top list...</div>
        </div>
    </div>
</div>

<footer class="footer" th:include="_footer :: footer">
    Footer content...
</footer>

</body>
</html>
