<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="_head :: head">
</head>

<body class="space">

<div class="pos-f-t" th:include="_header :: div.pos-f-t">
    Header content...
</div>

<div class="container">


    <div class="row">
        <div class="col-md-9 article">
            <img th:unless="${utils.isEmpty(article, 'aspects.contentData.data.imageRef')}"
                 th:src="${iurl.create(article.aspects.contentData.data.imageRef)}"/>
            <h1 th:text="${article.aspects.contentData.data.title}">Article headline...</h1>
            <time th:unless="${utils.isEmpty(article, 'aspects.contentData.data.published')}" th:datetime="${date.iso8601(article.aspects.contentData.data.published)}" th:utext="${date.full(article.aspects.contentData.data.published)}">Publish date...</time>
            <p class="lead" th:utext="${article.aspects.contentData.data.lead}">Article lead...</p>
            <ul class="tags" th:unless="${utils.isEmpty(article, 'aspects.contentData.data.tags')}">
                <li th:each="tag : ${article.aspects.contentData.data.tags}" th:text="${tag}">
                    Tag...
                </li>
            </ul>
            <div th:utext="${article.aspects.contentData.data.body}">Article body...</div>
        </div>
        <div class="col-md-3">
            <div class="ad-placeholder">
                <div>THIS IS AD</div>
            </div>
            <h4 class="top-articles-header">Top Articles</h4>
            <ol class="top-articles">
                <li th:each="article : ${articles}" class="nav-item">
                    <a th:text="${article.aspects.contentData.data.title}" th:href="${curl.create(article.id)}"
                       href="#">Article link...</a>
                </li>
            </ol>
        </div>
    </div>
</div>

<footer class="footer" th:include="_footer :: footer">
    Footer content...
</footer>

</body>
</html>
