<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="_head :: head">
</head>

<body class="space">

<div class="pos-f-t" th:include="_header :: div.pos-f-t">
  Header content...
</div>

<div class="container">

    <!--<ol>-->
        <!--<li th:each="article : ${articles}" class="nav-item">-->
            <!--<a th:text="${article.aspects.contentData.data.title}" th:href="${purl.create(article.id)}" href="#">Article link</a>-->
        <!--</li>-->
    <!--</ol>-->

    <div th:each="row : ${rows}" class="row">
        <a th:each="teaser : ${row}" th:class="'teaser col-md-' + 12 / ${row.size()}" th:href="${purl.create(teaser.id)}">
            <h2 th:text="${teaser.aspects.contentData.data.title}">Teaser headline</h2>
            <p th:text="${teaser.aspects.contentData.data.lead}">Teaser text...</p>
        </a>
    </div>



    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
    <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted" th:text="'&copy; ' + ${site.aspects.contentData.data.title}">Copyright notice</span>
    </div>
</footer>

</body>
</html>
