<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="_head :: head">
</head>

<body class="space">

<div class="pos-f-t" th:include="_header :: div.pos-f-t">
  Header content...
</div>

<div class="container">

    <div class="row">
        <div class="col-md-9">
            <div th:each="row : ${rows}" class="row">
                <a th:each="teaser : ${row}" th:class="'teaser col-md-' + 12 / ${row.size()}" th:href="${curl.create(teaser.id)}">
                    <img th:unless="${utils.isEmpty(teaser, 'aspects.contentData.data.imageRef')}" th:src="${iurl.create(teaser.aspects.contentData.data.imageRef)}" />
                    <h2 th:text="${teaser.aspects.contentData.data.title}" th:title="${teaser.id}">Teaser headline</h2>
                    <p class="lead" th:text="${teaser.aspects.contentData.data.lead}">Teaser text...</p>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ad-placeholder">
                <div>AD</div>
            </div>
        </div>
    </div>

</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted" th:text="'&copy; ' + ${site.aspects.contentData.data.title}">Copyright notice</span>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
    </div>
</footer>

</body>
</html>
