<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="_head :: head">
</head>

<body class="space">

<div class="pos-f-t" th:include="_header :: div.pos-f-t">
  Header content...
</div>

<div class="container section-page">

    <div class="row">
        <div class="col-md-9 main-col">
            <div class="empty" th:if="${utils.isEmpty(rows)}">
                This section appears to be empty
            </div>
            <div th:each="row : ${rows}" class="row">
                <a th:each="teaser : ${row}" th:class="'teaser col-md-' + 12 / ${row.size()}" th:href="${curl.create(teaser.id)}">
                    <div class="image-container" th:unless="${utils.isEmpty(teaser, 'aspects.contentData.data.imageRef')}">
                        <img th:src="${iurl.create(teaser.aspects.contentData.data.imageRef)}" />
                    </div>
                    <h2 th:text="${teaser.aspects.contentData.data.title}" th:title="${teaser.id}">Teaser headline...</h2>
                    <div class="lead">
                        <time th:unless="${utils.isEmpty(teaser, 'aspects.contentData.data.published')}" th:utext="${date.time(teaser.aspects.contentData.data.published)}">Teaser date...</time>
                        <p th:text="${teaser.aspects.contentData.data.lead}">Teaser text...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ad-placeholder">
                <div>THIS IS AD</div>
            </div>
            <h4 class="top-articles-header">Latest News</h4>
            <ol class="top-articles">
                <li th:each="article, stat : ${topArticles}" class="nav-item" th:unless="${stat.index >= 10}">
                    <a th:text="${article.aspects.contentData.data.title}" th:href="${curl.create(article.id)}"
                       href="#">Article link...</a>
                    <time th:unless="${utils.isEmpty(article, 'aspects.contentData.data.published')}" th:datetime="${date.medium(article.aspects.contentData.data.published)}" th:utext="${date.full(article.aspects.contentData.data.published)}">Publish date...</time>
                </li>
            </ol>
        </div>
    </div>

</div>

<footer class="footer" th:include="_footer :: footer">
    Footer content...
</footer>

</body>
</html>
